In [1]:
import pandas as pd

####  Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
data = pd.Series([4,8,15,16,23,42])
print(data,type(data))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64 <class 'pandas.core.series.Series'>

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
list1 = [i for i in range(9)]
data = pd.Series(list1)
data

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [13]:
dict1 = {'name':['Alice','bob','clair'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
data = pd.DataFrame(dict1)
type(data['Age'])

pandas.core.series.Series

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [16]:
dict1 = {'name':['Alice','bob','clair'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
data = pd.DataFrame(dict1)
print(type(data))
print(type(data['Age']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

some common functions you can use to manipulate data in a Pandas DataFrame are:

read_csv()
head()
describe()
memory_usage()
astype()
loc[:]
to_datetime()
value_counts()
drop_duplicates()
groupby()

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable. The length of a Series cannot be changed, but, for example, columns can be inserted into a DataFrame.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
dict1 = {'name':['Alice','bob','clair'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
data = pd.DataFrame(dict1)
data

    name  Age  Gender
0  Alice   25  Female
1    bob   30    Male
2  clair   27  Female