In [2]:
# Consider following code to answer further questions:

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The main distinction between the two methods is: loc gets rows (and/or columns) with particular labels. iloc gets rows (and/or columns) at integer locations

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.838551  0.858627  0.475070  0.978324  0.759358  0.709751
2  0.371286  0.306709  0.771034  0.513763  0.595551  0.341831
3  0.104692  0.818602  0.945177  0.858740  0.788723  0.986812
4  0.535205  0.541273  0.096673  0.314896  0.542136  0.166245
5  0.486835  0.444293  0.269817  0.300070  0.964697  0.816260
6  0.735717  0.906421  0.458322  0.601597  0.562512  0.009339

In [23]:
new_df = df1.reindex([3,0,1,2])
print(new_df.loc[2])
print(new_df.iloc[2])

column_1    0.371286
column_2    0.306709
column_3    0.771034
column_4    0.513763
column_5    0.595551
column_6    0.341831
Name: 2, dtype: float64
column_1    0.838551
column_2    0.858627
column_3    0.475070
column_4    0.978324
column_5    0.759358
column_6    0.709751
Name: 1, dtype: float64

By using new_df.loc[2] the 4th row is printed because loc takes the index 2 and by new_df.iloc[2] the 3rd row is printed because iloc takes the index according to the order arranged.

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
##### (i) mean of each and every column present in the dataframe.
##### (ii) standard deviation of column, ‘column_2’

In [14]:
df1
print(df1.mean())
print(df1['column_2'].std())

column_1    0.418280
column_2    0.431403
column_3    0.478115
column_4    0.581295
column_5    0.457444
column_6    0.570663
dtype: float64
0.3479349828480043

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

<!-- [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.] -->

In [25]:
df1.iloc[1] = 'Ankit'
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

An error ocurred becuase we're trying to find mean of String type

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value. The group by aggregate function can be used to partition and group the entire data frame by some column. We can specify the column name in the parameter of the pandas.

pandas supports 4 types of windowing operations:

1.Rolling window: Generic fixed or variable sliding window over the values.

2.Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

3.Expanding window: Accumulating window over the values.

4.Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

#### Q7. Write a code to print only the current month and year at the time of answering this question.
<!-- [Hint: Use pandas.datetime function] -->

In [33]:
from datetime import date
today = date.today()
print(today.year)
print(today.month)
print(today.day)

2023
3
5

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [39]:
date1 = pd.to_datetime(input('Insert a Date1:-'))
date2 = pd.to_datetime(input('Insert a Date2:-'))
time1 = pd.Timedelta(days = date1.day,hours = date1.hour,minutes = date1.minute)
time2 = pd.Timedelta(days = date2.day,hours = date2.hour,minutes= date2.minute)
print(time2-time1)

Insert a Date1:-2002-08-29
Insert a Date2:-2023-03-05
-24 days +00:00:00

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column ]name, and category order, and then display the sorted data.

In [41]:
def cate(path,col):
    data = pd.read_csv(path)
    cate = data['col']
    cate = pd.categorical(cate)
    print(cate.sort_values(ascending = True))
    

file = input('Enter a File Name:-')
col = input('Enter a Column Name:-')

Enter a File Name:-qw
Enter a Column Name:-ad

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)
sales_data = df.groupby(['Product Category', 'Year']).sum()['Sales']
pivot_table = sales_data.unstack()
pivot_table.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category')
plt.xlabel('Year')
plt.ylabel('Sales')
plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV

In [ ]:
def calci(fp):
    data=pd.read_csv(fp)
    x1=data['Test_Score'].mean()
    x2=data['Test_Score'].median()
    x3=data['Test_Score'].mode()
    return pd.DataFrame({"Statistic":["Mean","Medain","Mode"],"Value":[x1,x2,x3]})
filepath=input("enter the path")
calci(filepath)