### Q1

In [1]:
marks=int(input("Enter the marks of student= "))
if marks>90:
    print("Student pass with A Grade ")
elif marks >80 and marks<=90:
    print("Student pass with B Grade ")
elif marks>=60 and marks<=80:
    print("Student pass with C Grade ")
else:
    print("Student pass with D Grade ")

Enter the marks of student= 56
Student pass with D Grade

### Q2

In [2]:
cost_prise=int(input("Enter the cost of Bike = "))
if cost_prise>100000:
    tax= cost_prise*(15/100)
    print(f"Road tax will be = {tax}")
elif cost_prise>50000 and cost_prise<=100000:
    tax= cost_prise*(10/100)
    print(f"Road tax will be = {tax}")
elif cost_prise<=50000:
    tax= cost_prise*(5/100)
    print(f"Road tax will be = {tax}")

Enter the cost of Bike = 56000
Road tax will be = 5600.0

### Q3

In [3]:
while True:   
    print("Choose the City from following \n\tDelhi \n\tAgra \n\tJaipur")
    city_name=input("Enter the City = ")

    if city_name=="Delhi" or city_name=="delhi":
        print("Monuments of that city is Red Fort")
        break
    elif city_name=="Agra" or city_name=="agra":
        print("Monuments of that city is Taj Mahal")
        break
    elif city_name=="Jaipur" or city_name=="jaipur":
        print("Monuments of that city is Jal Mahal")
        break
    else:
        print(" \n please enter correct city",)

Choose the City from following
	Delhi
	Agra
	Jaipur
Enter the City = delhi
Monuments of that city is Red Fort

### Q4 Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
Given_num=int(input("Enter a number="))
count=0
while Given_num>10:
    Given_num=Given_num/3
    count+=1
print('Total iteration required', count)

Enter a number=555
Total iteration required 4

### Q5 Why and when to use while loop in python give a detailed description with example.

In Python, The while loop statement repeatedly executes a code block while a particular condition is true. When the condition becomes false, execution comes out of the loop immediately, and the first statement after the while loop is executed.

In [5]:
# example
count=1
while count<5:
    print(count)
    count+=1

1
2
3
4

### Q6 Use nested while loop to print 3 diffrent pattern

In [7]:
i = 5
while i > 0:
    j = i
    while j > 0:
        print('*',end='')
        j = j -1
    print('')
    i = i-1

*****
****
***
**
*

In [6]:
i=1
while i<8:
    j=0
    print((8-i)*' ', end=' ')
    while j<i:
        print('*', end=' ')
        j+=1
    print('')
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *

In [8]:
i=1
while i<8:
    j=0
    while j<i:
        print('*', end=' ')
        j+=1
    print('')
    i+=1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

### Q7 Reverse a while loop to display numbers from 10 to 1.

In [11]:
i=10
while i>=1:
    print(i, end=' ')
    i-=1

10 9 8 7 6 5 4 3 2 1

### Q8 Reverse a while loop to display numbers from 10 to 1.

In [10]:
i=10
while i>=1:
    print(i, end=' ')
    i-=1

10 9 8 7 6 5 4 3 2 1